<% provide(:title, "Sobre") %>

<h1>Sobre</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis rutrum ex sed
  diam malesuada laoreet. Integer ac eros vulputate elit tincidunt finibus quis
  non massa. Vivamus eu mattis lorem, vel viverra diam. Nullam euismod tortor
  purus. Sed lobortis, sem facilisis accumsan aliquam, neque felis dignissim
  erat, at faucibus ex nunc id lorem. Praesent varius porttitor tincidunt.
  Mauris posuere molestie risus vitae sagittis. Duis metus ex, sodales in justo
  et, fringilla sollicitudin risus. Nullam tellus velit, laoreet eget volutpat
  congue, lobortis nec nulla. In nec sollicitudin orci.
</p>
