<% provide(:title, "Contato") %>

<h1>Contato</h1>
<p>
  Sed accumsan turpis arcu, vel malesuada lorem venenatis nec. Phasellus id elit
  non ligula fermentum vestibulum. Sed elementum finibus orci, sit amet volutpat
  turpis porta sit amet. Pellentesque sit amet leo eget est semper posuere id at
  magna. Quisque lacinia libero eros, ut lacinia massa malesuada vel. Ut ac
  elementum sapien, in tincidunt sem. Donec lorem arcu, tempor sed ipsum et,
  fermentum pretium sem. Aliquam ac dapibus lacus, ut ornare lorem. Nunc vitae
  augue ultrices, gravida nulla ut, vulputate metus. Donec est lorem, lobortis
  eu eros quis, dapibus laoreet purus. Fusce iaculis tempus ipsum, non
  tincidunt dolor egestas efficitur. Donec dui augue, feugiat ac odio ac,
  tristique laoreet urna.
</p>
