<% provide(:title, "Ajuda") %>

<h1>Ajuda</h1>
<p>
  Integer vel commodo ipsum, quis dapibus diam. Donec feugiat ante in eleifend
  egestas. Nullam tempor lectus elit, nec porttitor arcu eleifend ac. Proin eu
  lorem iaculis elit posuere tincidunt. Aliquam id dignissim erat. Etiam
  vestibulum elementum venenatis. Nullam orci lorem, semper mollis odio
  posuere, varius ultricies sem. Maecenas feugiat sollicitudin neque non
</p>
