<h1><%= APP_CONFIG['default_title'] %></h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem-vindo ao <%= APP_CONFIG['title_abbreviation'] %>! Clique no endereço abaixo para ativar sua conta:
</p>

<%= link_to "Ativar", edit_account_activation_url(@user, @user.activation_token,
                                                    email: @user.email) %>
