<h1>Redefinição de senha</h1>

<p>Para redefinir sua senha, clique no link abaixo:</p>

<%= link_to "Redefinir senha", edit_password_reset_url(@user.reset_token,
                                                      email: @user.email) %>

<p>Este link expirará em 2 horas.</p>

<p>
Se você não requisitou a redefinição de senha, por favor ignore este email e
sua senha não será alterada.
</p>
