<div class="well">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% parent ||= nil  %>
      <%= render :partial => '/comments/form',
                  :locals => { comment: @task.comments.build,
                               parent_id: parent,
                               action_type: "create",
                               button_text: "Comentar"} %>
    </div>
  </div>
</div>
