<div class="well">
  <div class="row">
    <div class="col-md-12 ">
      <% comment ||= nil  %>
      <%= render :partial => '/comments/form',
                 :locals => { comment: @task.comments.build,
                              parent_id: comment,
                              action_type: "create",
                              button_text: "Comentar"} %>
    </div>
  </div>
</div>
