<div class="jumbotron narrower">
  <h3>Tarefas</h3>
  <a href="<%= new_group_task_path(@group) %>"  >
    <button type="button" class="btn btn-primary circle pull-right add-button"
            title="Novo grupo">
      <span class="glyphicon glyphicon-plus" ></span>
    </button>
  </a>
</div>

<%= will_paginate @tasks %>

<table class="table" id="tasks-table">
  <% if @tasks.exists? %>
    <tr>
      <th class="col-sm-1 col-md-1"></th>
      <th class="col-sm-6 col-md-6">Título</th>
      <th class="col-sm-4 col-md-4">Entrega</th>
      <!-- <th class="col-sm-1 col-md-1">Prioridade</th> -->
      <th class="col-sm-1 col-md-1">Mensagens</th>
    </tr>
  <% end %>
  <%= render @tasks %>
</table>

<%= will_paginate @tasks %>
