<div class="jumbotron narrower">
  <h3>Tarefas</h3>
  <a href="<%= new_group_task_path(@group) %>"  >
    <button type="button" class="btn btn-primary circle pull-right add-button"
            title="Novo grupo">
      <span class="glyphicon glyphicon-plus" ></span>
    </button>
  </a>
</div>

<%= will_paginate @tasks %>

<table class="table" id="tasks-table">
  <tr>
    <th>Título</th>
    <th>Entrega</th>
    <th>Prioridade</th>
  </tr>
  <%= render @tasks %>
</table>

<%= will_paginate @tasks %>
