<% provide(:title, 'Cadastro de Grupos') %>
<% provide(:button_text, 'Criar grupo') %>

<h1>Cadastro de Grupos</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
