<div class="row">
  <aside class="col-md-4">
    <section class="info">
      <h1><%= @group.name %></h1>
      <p>
        Área de interesse: <%= @group.area %><br>
        Descrição: <%= @group.description %>
      </p>
    </section>
  </aside>
</div>
