<% provide(:title, "Editar usuário") %>
<h1>Atualizar Perfil</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="gravatar_edit">
      <%= gravatar_for @user %>
      <a href="http://gravatar.com/emails" target="_blank" rel="noopener">Alterar</a>
    </div>
    <%= render partial: "/users/form", :locals => { button_text: "Editar"} %>
  </div>
</div>
