<div class="center jumbotron">
  <h1> <%= APP_CONFIG['default_title'] %></h1>
  <h2>
    Conecte-se à pessoas com interesses parecidos, compartilhe conhecimento e aprenda novas informações!
  </h2>
  <%= link_to "Cadastre-se!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
