<%# breadcrumb :invitation, @invitation %>
<div class="row">
  <aside class="col-md-4">
    <section class="info">
      <h1>
        <%= @invitation.id %>
      </h1>
      <p>
        <%= "#{@invitation.member_id}" %>
        <br />
        <%= "#{@invitation.group_id}" %>
      </p>
    </section>
  </aside>
</div>
