// Place all the styles related to the Comment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.replies {
  margin-left: 50px;
}

/* 5 levels nesting */
.replies .replies .replies .replies .replies {
  margin-left: 0;
}

.sorting{
  width: 40%;
  
  label{
    text-align: right;
    clear: both;
    float:left;
    width: 5%;
    margin-right:20px;
    font-size: 1em;
    padding: 0.2em  0.0em;
    span{
      font-size: 1.6em;
    }
  }
  select{
    width: 75%;
    font-size: 1em;
    float: left;
  }
}
