// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$light-yellow: #ffecb3;

ul#members {
    list-style: none;
    margin: 0;

    .row {
      height: 70px;
      margin: 5px 0px 5px -40px;
      padding: 8px 0px 8px 0px;
      //background-color: white;
      button {
        margin-top: -8px;
        min-height: 68px;
        border: 0px;
      }
      li {
        margin-top: -60px;
        margin-left: 30px;
      }
    }
    //.dropdown-menu{
    #not-header-dropdown{
      ul, li{
        margin: 0px;
        background-color: white;
      }
    }
}

.panel-pending {
  background-color: $light-yellow;
  border-color: $light-yellow;
}
