<div class="jumbotron narrower">
  <h3>Membros</h3>
</div>

<div class="panel panel-default">
  <%= will_paginate @members%>

  <ul class="list">
    <%= render @members %>
  </ul>

  <%= will_paginate @members%>
</div>
